<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<div class="card card-title bg-white p-1">
    <div class="row">
        <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Quản lý địa điểm bay </h5> </div>
        <div class="col-md-6 m-0">
        </div>
    </div>
</div>

    <div class="search-container">
        <label for="SearchString" style="margin-right: 10px">Tìm tên thành phố : </label>
        <input type="text" id="searchInput" placeholder="Nhập tên thành phố ">
        <input type="submit" value="Tìm kiếm" id="search-button">
    </div>

<button  class="btn btn-primary add" ><i class="fas fa-plus"></i>Thêm thành phố</button>

<div id="app"></div>
<div id="pagination"></div>

<div class="modal" id="addCityModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bảng thông tin thành phố</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Đặt nội dung của form thêm thành phố ở đây -->
                <form id="addCityForm">
                    <div class="form-group row">
                        <label for="SoHieuMayBay" class="col-md-3 col-form-label">Mã sân bay</label>
                        <div class="col-md-9">
                            <input type="text" id="AirportCode" name="AirportCode" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="SoHieuMayBay" class="col-md-3 col-form-label">Tên sân bay</label>
                        <div class="col-md-9">
                            <input type="text" id="AirportName" name="AirportName" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="SoHieuMayBay" class="col-md-3 col-form-label">Tên thành phố</label>
                        <div class="col-md-9">
                            <input type="text" id="City" name="City" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeCityBtn" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="saveCityBtn">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script>
    var currentPage = 1;
    function getAirports(city,pageNumber) {
        $.ajax({
            url: '/api/Airports/GetAllAirport',
            method: "GET",
            data: {
                keySearch: city,
                PageNumber: pageNumber,
            },
            timeout: 5000,
            success: function (data) {
                renderTable(data.data);
                displayPagination(data.pagination);
                currentPage = pageNumber;
            }
        });
    }
    function renderTable(airports) {
        const tableHeader = `
            <tr>
                <th>Id</th>
                <th>Mã sân bay</th>
                <th>Tên sân bay</th>
                <th>Tên thành phố</th>
                <th></th>
            </tr>
        `;
        const airportsHtml = airports.map(airport => `
            <tr>
                <td>${airport.airportID}</td>
                <td>${airport.airportCode}</td>
                <td>${airport.airportName}</td>
                <td>${airport.city}</td>
                <td>
                    <button data-id="${airport.airportID}" class="edit-btn btn btn-primary" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button data-id="${airport.airportID}" class="detail-btn btn btn-secondary"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                    <button data-id="${airport.airportID}" class="delete-btn btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        `).join('');
        const tableHtml = `<table class="table table-striped" id="tblBrands">${tableHeader}${airportsHtml}</table>`;
        $('#app').html(tableHtml);
    }
    function displayPagination(paginationInfo) {
        var totalPages = paginationInfo.totalPages;
        var currentPage = paginationInfo.currentPage;
        var city = $('#searchInput').val();
        var paginationHtml = '<div class="pagination">';
        if (currentPage > 1) {
            paginationHtml += '<a href="#" onclick="getAirports(\'' + city + '\',' + (currentPage - 1) + ')">&laquo;</a>';
        }
        for (var i = 1; i <= totalPages; i++) {
            if (i === currentPage) {
                paginationHtml += '<a href="#" class="active" onclick="getAirports(\'' + city + '\',' + i + ')">' + i + '</a>';
            }
            else {
                paginationHtml += '<a href="#" onclick="getAirports(\'' + city + '\',' + i + ')">' + i + '</a>';
            }
        }
        if (currentPage < totalPages) {
            paginationHtml += '<a href="#" onclick="getAirports(\'' + city + '\',' + (currentPage + 1) + ')">&raquo;</a>';
        }
        paginationHtml += '</div>';

        
        $('#pagination').html(paginationHtml);
    }
    $(document).ready(function () {
        var currentAction = '';
        var currentAirportId = '';
        $('#search-button').click(function (e) {
            e.preventDefault();
            var city = $('#searchInput').val();
            var pageNumber = 1; 
            if(city ==""){
                alert("không tìm thấy thành phố cần tìm")
            }
            getAirports(city, pageNumber);
        });

        $(document).on('click', '.pagination a', function (e) {
            e.preventDefault();
            var pageNumber = $(this).text();
            var city = $('#searchInput').val();
            getAirports(city, pageNumber);
        });
        getAirports('', 1);

        function refreshTable() {
            var city = $('#searchInput').val();
            getAirports(city, currentPage);
        }

        function resetInputs() {
            $('input[type="text"]').each(function () {
                $(this).val('');
            });
        }

        function showButton(){
            $('#saveCityBtn').show();
            $('#closeCityBtn').show();
        }

        $('.close, .btn-secondary').click(function (e) {
            $('#addCityModal').modal('hide')
            resetInputs();
        });

        $('.add').click(function (e) {
            $('#addCityModal').modal('show');
            showButton();
            currentAction = 'add';
        });
        $('#app').on('click', '.edit-btn', function () {
            $('#addCityModal').modal('show');
            showButton();
            var airportId = $(this).data('id');
            currentAirportId =  airportId;
            $.ajax({
                url: '/api/Airports/GetAirport',
                method: 'GET',
                data: {
                    id: airportId
                },
                success: function (data) {
                    airport = data.data;
                    $('#AirportCode').val(airport.airportCode);
                    $('#AirportName').val(airport.airportName);
                    $('#City').val(airport.city);
                }
            })
            currentAction = 'edit';
        });

        $('#app').on('click', '.delete-btn', function () {
            if (confirm('Do you want to delete this data?')) {
                var airportId = $(this).data('id');
                $.ajax({
                    url: '/api/Airports/deleteAirport/' + airportId,
                    method: 'DELETE',
                    data: {
                        id: airportId
                    },
                    success: function (data) {
                        alert(data.message);
                        refreshTable();
                    }
                })
            }
            else {
            }
        });

        $('#app').on('click', '.detail-btn', function () {
            $('#addCityModal').modal('show');
            var airportId = $(this).data('id');
            $('#saveCityBtn').hide();
            $('#closeCityBtn').hide();

            $.ajax({
                url: '/api/Airports/GetAirport',
                method: 'GET',
                data: {
                    id: airportId
                },
                success: function (data) {
                    airport = data.data;
                    $('#AirportCode').val(airport.airportCode);
                    $('#AirportName').val(airport.airportName);
                    $('#City').val(airport.city);
                }
            })
        });

        $('#saveCityBtn').click(function (e) {
            var data = {
                AirportCode: $('#AirportCode').val(),
                AirportName: $('#AirportName').val(),
                City: $('#City').val(),
            }
            if (currentAction === 'add') {
                $.ajax({
                    url: '/api/Airports/addAirports',
                    method: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (data) {
                        alert(data.message);
                        resetInputs();
                        $('#addCityModal').modal('hide');
                        refreshTable();
                    }
                });
            } else if (currentAction === 'edit') {
                var airportId = currentAirportId;
                $.ajax({
                    url: '/api/Airports/updateAirport/' + airportId,
                    method: 'PUT',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (data) {
                        alert(data.message);
                        resetInputs();
                        $('#addCityModal').modal('hide');
                        refreshTable();
                    }
                });
            }
            currentAction = '';
            currentAirportId = '';
        });
    });
</script>