<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Public/css/all.min.css" rel="stylesheet" />
    <link href="~/Public/css/bo2otstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/fStyle.css" rel="stylesheet" />
    <link href="~/Public/css/Search.css" rel="stylesheet" />
    <!-- css datable -->
    <link rel="stylesheet" href="~/public/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/public/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link href="~/Public/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <script src="~/Public/js/new/jquery-3.4.1.min.js"></script>
    <!--pop-up->
    <!-- Thư viện jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Thư viện Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:#F2F2F2;">

    <section class="container-fluid ">
        <div class="row">
            <!-- Image and text -->
            <nav class="navbar navbar-light py-0  w-100 border-bottom bg-blues">
                <a class="navbar-brand text-white font-weight-bold" href="~/Admin">FLIGHT TICKET <span style="color:#326690; border-bottom-left-radius:50px;" class="bg-white px-3">ARS</span></a>
                <ul class="list-unstyled m-0">

                    <li class="nav-item dropdown ">

                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu" style="position: absolute;top: 40px;left: -90px;" aria-labelledby="navbarDropdown">
                            @*<a class="dropdown-item" href="~/Account/LogOff"><i class="fas fa-sign-out-alt"></i> Logout</a>*@
                            <div class="dropdown-item" id="logoutButton"><i class="fas fa-sign-out-alt"></i>Đăng xuất</div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section>
        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-2 bg-white" style="height:700px;">

                    <ul class="list-unstyled ul-left-menu">
                        <li class="border-bottom py-2 row">
                            <div class="input-group px-3">
                                <input type="text" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                    <button class="btn bg-white border" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </li>
                            <li id="contact" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Airports"><i class="fas fa-city"></i> Thành Phố</a></li>
                            <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Flights"><i class="fa fa-plane"></i> Chuyến Bay</a></li>
                           @* <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Topic"><i class="fad fa-id-card"></i> Topic</a></li>
                            <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Post"><i class="fad fa-newspaper"></i> Posts</a></li>
                            <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Tickets"><i class=" fas fa-chair"></i> Chỗ Ngồi</a></li>*@
                            <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Passengers"><i class="fas fa-user"></i> Khành Khách</a></li>
                            <li id="user" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Users"><i class="fas fa-user"></i> Tài khoản</a></li>
                            <li id="user" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/ChucVu"><i class="fa fa-address-book" aria-hidden="true"></i>Chức vụ</a></li>
                            <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Bookings"><i class="fas fa-shopping-basket"></i>Ticket Bookings</a></li>
                            <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Personal"> <i class="fas fa-user-circle"></i> Thông tin tài khoản</a></li>
                        
                    </ul>
                </div>
                <style>
                    .ul-left-menu > li > a {
                        color: #2E2E2E;
                    }
                </style>
                <div class="col-md-10 ">
                    <div class="p-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Load Facebook SDK for JavaScript -->

    <script src="~/public/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/public/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/public/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/public/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.3.5/jquery.timepicker.min.js"></script>
   
</body>
</html>
<script>
    $(document).ready(function () {
        $('#logoutButton').click(function () {
            $.ajax({
                url: '/api/AuthManagerment/Logout',
                method: 'POST',
                success: function (data) {
                    window.location.href = "@Url.Action("Login", "Account")";
                }
            });
        });
    });
</script>