<div class="full_width confirmation_msg"> <span>Thanh toán không thành công vui lòng bạn quay lại trang chủ để đặt vé lại xin cảm ơn</span> </div>
<div class="tab_inner_section flight_inner_section">

</div>