@*@model MayBay1.Models.HomeModels*@
@*@model IEnumerable<MayBay1.Models.ThanhPho>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<div class="clearfix"></div>
<div class="slider_tab_main">
    <!-- Home first slider start -->
    <div class="full_width home_slider">
        <div class="example">
            <article class="content" style="width:100%; float:left;">
                <div id="rev_slider_116_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="layer-animations" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
                    <div id="rev_slider_116_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                        <ul style="width:100% !important;" class="homesix_slide">
                            <!-- SLIDE  -->
                            <li data-index="rs-391" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">
                                <div class="slider_overlay_2"> </div>
                                <!-- MAIN IMAGE --><img src="~/images/flights/slider-img.jpg" alt="slide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER-1-start-->
                                <h3 class="tp-caption NotGeneric-Title slide_booking_list_heading tp-resizeme" id="slide-391-layer-1" data-x="80" data-hoffset="" data-y="center" data-voffset="-150" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:22px; line-height: 36px; margin:0px;">
                                    Tại sao đặt vé với Travelite?

                                </h3>
                                <!-- LAYER-1-end-->
                                <!-- LAYER-2-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-391-layer-2" data-x="80" data-hoffset="" data-y="center" data-voffset="-80" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="2500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Có sẵn mọi lúc, mọi nơi
                                </h5>
                                <!-- LAYER-2-end-->
                                <!-- LAYER-3-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-391-layer-3" data-x="80" data-hoffset="" data-y="center" data-voffset="-45" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="4000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Hơn 100.000 khách hàng hài lòng
                                </h5>
                                <!-- LAYER-3-end-->
                                <!-- LAYER-4-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-391-layer-4" data-x="80" data-hoffset="" data-y="center" data-voffset="-10" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="5500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Chúng tôi nói ngôn ngữ của bạn
                                </h5>
                                <!-- LAYER-4-end-->
                                <!-- LAYER-5-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-391-layer-5" data-x="80" data-hoffset="" data-y="center" data-voffset="25" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="7000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Giá tốt nhất và đặt vé an toàn
                                </h5>
                                <!-- LAYER-5-end-->
                                <!-- LAYER-6-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-391-layer-6" data-x="80" data-hoffset="" data-y="center" data-voffset="60" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="8500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Quản lý đặt vé của bạn trực tuyến
                                </h5>
                                <!-- LAYER-6-end-->
                                <!-- LAYER-7-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-391-layer-7" data-x="80" data-hoffset="" data-y="center" data-voffset="95" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="9500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Hơn 200 chi nhánh trên khắp thế giới
                                </h5>
                                <!-- LAYER-7-end-->
                                <!-- LAYERS END -->
                            </li>
                            <!--slide-->
                            <li data-index="rs-392" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide Mask" data-description="">
                                <div class="slider_overlay_2"> </div>
                                <!-- MAIN IMAGE --><img src="~/images/flights/slider1-img.jpg" alt="slide3" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS START -->
                                <!-- LAYER-1-start-->
                                <h3 class="tp-caption NotGeneric-Title slide_booking_list_heading tp-resizeme" id="slide-392-layer-1" data-x="80" data-hoffset="" data-y="center" data-voffset="-150" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:22px; line-height: 36px; margin:0px;">
                                    Tại sao đặt vé với Travelite?
                                </h3>
                                <!-- LAYER-1-end-->
                                <!-- LAYER-2-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-392-layer-2" data-x="80" data-hoffset="" data-y="center" data-voffset="-80" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="2500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Có sẵn mọi lúc, mọi nơi
                                </h5>
                                <!-- LAYER-2-end-->
                                <!-- LAYER-3-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-392-layer-3" data-x="80" data-hoffset="" data-y="center" data-voffset="-45" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="4000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Hơn 100.000 khách hàng hài lòng
                                </h5>
                                <!-- LAYER-3-end-->
                                <!-- LAYER-4-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-392-layer-4" data-x="80" data-hoffset="" data-y="center" data-voffset="-10" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="5500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Chúng tôi nói ngôn ngữ của bạn
                                </h5>
                                <!-- LAYER-4-end-->
                                <!-- LAYER-5-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-392-layer-5" data-x="80" data-hoffset="" data-y="center" data-voffset="25" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="7000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Giá tốt nhất và đặt vé an toàn
                                </h5>
                                <!-- LAYER-5-end-->
                                <!-- LAYER-6-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-392-layer-6" data-x="80" data-hoffset="" data-y="center" data-voffset="60" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="8500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Quản lý đặt vé của bạn trực tuyến
                                </h5>
                                <!-- LAYER-6-end-->
                                <!-- LAYER-7-start-->
                                <h5 class="tp-caption NotGeneric-Title slide_booking_list tp-resizeme" id="slide-392-layer-7" data-x="80" data-hoffset="" data-y="center" data-voffset="95" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="9500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size:15px; line-height: 36px; margin:0px;">
                                    <i class="fa fa-check-square-o" style="padding-right:30px;"></i>Hơn 200 chi nhánh trên khắp thế giới
                                </h5>
                                <!-- LAYER-7-end-->
                                <!-- LAYERS END -->
                            </li>
                            <!--slide-->
                        </ul>
                    </div>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </article>
        </div>
        <!-- section end -->
    </div>
    <!-- Home first slider End -->
    <!-- slider tab section start -->
    <div class="home_tabs_search tab_search_white">
        <div class="full_width slider_content_wrap">
            <div class="container">
                <div id="plane_search" class="flight_booking_tab">
                    <!-- tab_search form start -->
                    <form id="form-search">
                        <div class="flight_booking_inner">
                            <div class="pull_left location_airport">
                                <label for="roundtrip">
                                    <input type="radio" value="enable" id="typeticket" name="typeticket">
                                    <span>khứ hồi</span>
                                </label>
                            </div>
                            <div class="pull_left location_airport">
                                <label for="one-way">
                                    <input type="radio" value="disable" id="typeticket" name="typeticket" checked>
                                    <span>một chiều</span>
                                </label>
                            </div>
                        </div>
                        <input type="hidden" id="ticketCheck" value="" />
                        <div class="flight_booking_inner">
                            <div @*id="DepatureCity"*@ class="pull_left location_airport">
                                @*<label>từ</label>
                                <input type="text" placeholder="Enter City or Airport Code">*@
                                <label>từ</label>
                                @*<select name="DiemKhoiHanh" class="selectpicker form-control" tabindex="1" v-model = "departureCity">
                                    <option v-for="item in AirportList" :value="item.airportCode">{{item.city}}</option>
                                </select>*@
                                <select name="DiemKhoiHanh" class="selectpicker form-control" tabindex="1" id="departureCity">
                                   
                                </select>
                            </div>
                            <div class="pull_left check_in_field">
                                <label>ngày đi</label>
                                <input type="text" id="Check_in_date_tab_flight" name="NgayKhoiHanh" class="form-control" placeholder="dd/mm/yyyy" required >
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                            <div class="pull_left room_select_field">
                                <label>hành khách</label>
                                <select class="form-control" name="songuoi" id="search_adult2">
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                </select>
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                        <!-- flight_booking_inner end -->
                        <div class="flight_booking_inner">
                            <div @* id="ArriveCity"*@ class="pull_left location_airport">
                                <label>đến</label>
                            @*    <select name="DiemDen" class="selectpicker form-control" tabindex="1">
                                    <option v-for="item in AirportList" :value="item.airportCode">{{item.city}}</option>
                                </select>*@
                                <select name="DiemDen" class="selectpicker form-control" tabindex="1" id="arrivalCity">
                                    
                                </select>
                            </div>
                            <div class="pull_left check_in_field"> <label>ngày về</label> <input type="text" id="Check_out_date_tab_flight" name="NgayVe" class="form-control" placeholder="dd/mm/yyyy"> <i class="fa fa-calendar"></i> </div>
                            <div class="pull_left submit_field"> <input type="text" placeholder="SEARCH" class="search_tabs"> <button class="btn tab_search" id="searchButton" type="submit"> <i class="glyphicon glyphicon-search"></i></button> </div>
                        </div>

                        <!-- flight_booking_inner end -->
                    </form>
                    <!-- tab_search form End -->
                </div>
            </div>
        </div>
    </div>
    <!-- slider tab section End -->
</div>
<!-- slider main wrapper end -->
<!-- special offers section start -->
<div class="full_width travelite_world_section">
    <div class="container">
        <div class="row">
            <div class="heading_team">
                <h3>ĐỊA ĐIỂM NỔI BẬT</h3>
            </div>
            <div class="col-md-12">
                <div class="portfolio-row">
                    <div class="portfolio_column_3_popup">
                        <div id="portfolio-item-container" class="max-col-3 popup-gallery" data-layoutmode="fitRows">
                            <div class="portfolio-item col-md-4 col-sm-4 col-xs-12 portfolio-custom 2013">
                                <figure>
                                    <a href="~/images/portfolio/tour-gallery-c2/portfolio-001.jpg" class="zoom-item" title="Portfolio Item Title">
                                        <img src="~/images/portfolio/tour-gallery-c3/portfolio-001.jpg" alt="portfolio item name">
                                    </a>
                                </figure>
                                <div class="portfolio-content">
                                    <div class="portfolio-meta">
                                        <a href="~/images/portfolio/tour-gallery-c3/portfolio-001.jpg"><i class="fa fa-search-plus"></i></a>
                                        <h2 class="portfolio-title"> <a href="Tour-Packages-Details.html">Future view</a></h2>
                                    </div>
                                    <!-- End .portfolio-meta -->
                                </div>
                                <!-- End .portfolio-content -->
                            </div>
                            <!-- End .portfolio-item -->

                            <div class="portfolio-item col-md-4 col-sm-4 col-xs-12 portfolio-custom 2014">
                                <figure> <a href="~/images/portfolio/tour-gallery-c2/portfolio-002.jpg" class="zoom-item" title="Portfolio Item Title"> <img src="~/images/portfolio/tour-gallery-c3/portfolio-002.jpg" alt="portfolio item name"> </a> </figure>
                                <div class="portfolio-content">
                                    <div class="portfolio-meta">
                                        <a href="~/images/portfolio/tour-gallery-c3/portfolio-002.jpg"><i class="fa fa-search-plus"></i></a>
                                        <h2 class="portfolio-title"> <a href="Tour-Packages-Details.html">good wood furniture</a></h2>
                                    </div>
                                    <!-- End .portfolio-meta -->
                                </div>
                                <!-- End .portfolio-content -->
                            </div>
                            <!-- End .portfolio-item -->

                            <div class="portfolio-item col-md-4 col-sm-4 col-xs-12 portfolio-custom 2015 2014">
                                <figure> <a href="~/images/portfolio/tour-gallery-c2/portfolio-003.jpg" class="zoom-item" title="Portfolio Item Title"> <img src="~/images/portfolio/tour-gallery-c3/portfolio-003.jpg" alt="portfolio item name"> </a> </figure>
                                <div class="portfolio-content">
                                    <div class="portfolio-meta">
                                        <a href="~/images/portfolio/tour-gallery-c3/portfolio-003.jpg"><i class="fa fa-search-plus"></i></a>
                                        <h2 class="portfolio-title"> <a href="Tour-Packages-Details.html">natural air </a></h2>
                                    </div>
                                    <!-- End .portfolio-meta -->
                                </div>
                                <!-- End .portfolio-content -->
                            </div>
                            <!-- End .portfolio-item -->

                            <div class="portfolio-item col-md-4 col-sm-4 col-xs-12 portfolio-custom 2015">
                                <figure> <a href="~/images/portfolio/tour-gallery-c2/portfolio-004.jpg" class="zoom-item" title="Portfolio Item Title"> <img src="~/images/portfolio/tour-gallery-c3/portfolio-004.jpg" alt="portfolio item name"> </a> </figure>
                                <div class="portfolio-content">
                                    <div class="portfolio-meta">
                                        <a href="~/images/portfolio/tour-gallery-c3/portfolio-004.jpg"><i class="fa fa-search-plus"></i></a>
                                        <h2 class="portfolio-title"> <a href="Tour-Packages-Details.html">pool site house</a></h2>
                                    </div>
                                    <!-- End .portfolio-meta -->
                                </div>
                                <!-- End .portfolio-content -->
                            </div>
                            <!-- End .portfolio-item -->

                            <div class="portfolio-item col-md-4 col-sm-4 col-xs-12 portfolio-custom 2014">
                                <figure> <a href="~/images/portfolio/tour-gallery-c2/portfolio-005.jpg" class="zoom-item" title="Portfolio Item Title"> <img src="~/images/portfolio/tour-gallery-c3/portfolio-005.jpg" alt="portfolio item name"> </a> </figure>
                                <div class="portfolio-content">
                                    <div class="portfolio-meta">
                                        <a href="~/images/portfolio/tour-gallery-c3/portfolio-005.jpg"><i class="fa fa-search-plus"></i></a>
                                        <h2 class="portfolio-title"> <a href="Tour-Packages-Details.html">tree house</a></h2>
                                    </div>
                                    <!-- End .portfolio-meta -->
                                </div>
                                <!-- End .portfolio-content -->
                            </div>
                            <!-- End .portfolio-item -->

                            <div class="portfolio-item col-md-4 col-sm-4 col-xs-12 portfolio-custom 2013 2015">
                                <figure> <a href="~/images/portfolio/tour-gallery-c2/portfolio-006.jpg" class="zoom-item" title="Portfolio Item Title"> <img src="~/images/portfolio/tour-gallery-c3/portfolio-006.jpg" alt="portfolio item name"> </a> </figure>
                                <div class="portfolio-content">
                                    <div class="portfolio-meta">
                                        <a href="~/images/portfolio/tour-gallery-c3/portfolio-006.jpg"><i class="fa fa-search-plus"></i></a>
                                        <h2 class="portfolio-title"> <a href="Tour-Packages-Details.html">sea skating</a></h2>
                                    </div>
                                    <!-- End .portfolio-meta -->
                                </div>
                                <!-- End .portfolio-content -->
                            </div>
                            <!-- End .portfolio-item -->

                            <div class="portfolio-item col-md-4 col-sm-4 col-xs-12 portfolio-custom 2013">
                                <figure> <a href="~/images/portfolio/tour-gallery-c2/portfolio-007.html" class="zoom-item" title="Portfolio Item Title"> <img src="~/images/portfolio/tour-gallery-c3/portfolio-007.jpg" alt="portfolio item name"> </a> </figure>
                                <div class="portfolio-content">
                                    <div class="portfolio-meta">
                                        <a href="~/images/portfolio/tour-gallery-c3/portfolio-007.jpg"><i class="fa fa-search-plus"></i></a>
                                        <h2 class="portfolio-title"> <a href="Tour-Packages-Details.html">sun sea view and relax</a></h2>
                                    </div>
                                    <!-- End .portfolio-meta -->
                                </div>
                                <!-- End .portfolio-content -->
                            </div>
                            <!-- End .portfolio-item -->

                            <div class="portfolio-item col-md-4 col-sm-4 col-xs-12 portfolio-custom 2015">
                                <figure> <a href="~/images/portfolio/tour-gallery-c2/portfolio-008.html" class="zoom-item" title="Portfolio Item Title"> <img src="~/images/portfolio/tour-gallery-c3/portfolio-008.jpg" alt="portfolio item name"> </a> </figure>
                                <div class="portfolio-content">
                                    <div class="portfolio-meta">
                                        <a href="~/images/portfolio/tour-gallery-c3/portfolio-008.jpg"><i class="fa fa-search-plus"></i></a>
                                        <h2 class="portfolio-title"> <a href="Tour-Packages-Details.html">amazing view </a></h2>
                                    </div>
                                    <!-- End .portfolio-meta -->
                                </div>
                                <!-- End .portfolio-content -->
                            </div>
                            <!-- End .portfolio-item -->

                            <div class="portfolio-item col-md-4 col-sm-4 col-xs-12 portfolio-custom 2014">
                                <figure> <a href="~/images/portfolio/tour-gallery-c2/portfolio-009.html" class="zoom-item" title="Portfolio Item Title"> <img src="~/images/portfolio/tour-gallery-c3/portfolio-009.jpg" alt="portfolio item name"> </a> </figure>
                                <div class="portfolio-content">
                                    <div class="portfolio-meta">
                                        <a href="~/images/portfolio/tour-gallery-c3/portfolio-009.jpg"><i class="fa fa-search-plus"></i></a>
                                        <h2 class="portfolio-title"> <a href="Tour-Packages-Details.html">shipping tour</a></h2>
                                    </div>
                                    <!-- End .portfolio-meta -->
                                </div>
                                <!-- End .portfolio-content -->
                            </div>
                            <!-- End .portfolio-item -->
                        </div><!-- End #portfolio-item-container -->
                    </div><!--  portfolio_column_3_popup end -->
                </div> <!-- end .row -->

            </div>
            <div class="full_width destination_button"> <a href="#" class="btn_green btns feature_more_btn">xem thêm</a> </div>
        </div>
    </div>
</div>
<!-- special offers section end -->
<!-- subscribe section start -->
<div class="full_width booking_help_bg">
    <div class="icon_circle_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="booking_contact">
                    <h2 class="booking_help_heading">Cần trợ giúp để đặt vé...?</h2>
                    <div class="call_button">Call: 0-123-456-789</div>
                    <p>Hãy gọi cho chúng tôi để lên kế hoạch<br /> cho một kỳ nghỉ hoàn hảo cho bạn!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="booking_contact_right">
                    <h2 class="booking_help_heading">Cần trợ giúp để đặt vé...?</h2>
                    <a href="#">Xem chi nhánh </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!--Vô hiệu hóa input khi nhấn radio-->
<script>
    $("#form-search").submit(function (event) {
        var typeticket = $("#ticketCheck").val();
    });
    $(document).ready(function () {
        // By Default Disable radio button
        $("#Check_out_date_tab_flight").attr('disabled', true);
        $("form input:radio").change(function () {
            if ($(this).val() == "enable") {
                $("#Check_out_date_tab_flight").attr('disabled', false);
                $("#ticketCheck").val(2);
            }
            else {
                $("#Check_out_date_tab_flight").attr('disabled', true);
                $("#ticketCheck").val(1);
            }
        });
    });

</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/Flights/GetAirport', 
            method: 'GET',
            success: function (data) {
                if (data.status === true) {
                    var airports = data.data;
                    // Lặp qua danh sách sân bay và cập nhật các tùy chọn trong các cửa sổ chọn
                    airports.forEach(function (airport) {
                        $('#departureCity').append('<option value = "' + airport.airportCode + '">' + airport.city + '</option>');
                        $('#arrivalCity').append('<option value = "' + airport.airportCode + '">' + airport.city + '</option>');
                    });
                    // Cập nhật Bootstrap Selectpicker sau khi đã thêm các tùy chọn
                    $('.selectpicker').selectpicker('refresh');
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
        $('#searchButton').click(function (e) {
            e.preventDefault(); // Ngăn chặn mặc định của 
            var typeTicket = $("input[name='typeticket']:checked").val();
            var departureCode = $('#departureCity').val();
            var arriveCode = $('#arrivalCity').val();
            var departureDay = $('#Check_in_date_tab_flight').val();
            var arrivalDay = $('#Check_out_date_tab_flight').val();
            var availableSeats = $('#search_adult2').val();
            var ngayKhoiHanh = moment(departureDay, 'DD/MM/YYYY');
            var ngayVe = moment(arrivalDay, 'DD/MM/YYYY');
            var url = 'Flights/flightSearchOnWay?typeTicket=' + 'one-way' + '&departureCode=' + departureCode + '&arriveCode=' + arriveCode + '&departureDay=' + departureDay + '&availableSeats=' + availableSeats;
            if (departureCode === arriveCode) {
                alert("Điểm khởi hành không được trùng với điểm đến.");
                return false; // Dừng việc tiếp tục thực hiện sự kiện
            }
            else if (ngayVe.isBefore(ngayKhoiHanh)) {
                alert("Ngày khởi hành phải nhỏ hơn ngày về.");
                return false; // Dừng việc tiếp tục thực hiện sự kiện
            }
            else{
                if(typeTicket ==='enable'){
                    url = 'Flights/flightSearchRoundTrip?typeTicket=' + 'round-trip' + '&departureCode=' + departureCode + '&arriveCode=' + arriveCode + '&departureDay=' + departureDay + '&arrivalDay=' + arrivalDay + '&availableSeats=' + availableSeats;
                }
                window.location.href = url;
            }
            
        });
    });
</script>